body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.main{
margin-top: 50px;
height: 80vh;
width: 80vw;
display: flex;
flex-direction: column;
align-items: center;

}
input{
width:180px;
}
button{
    width: 80px;
}
ul{
    margin-top: 20px;
}
.delete{
    margin-left: 350px;
}